REDMINE_PORT={{ redmine_port }}
REDMINE_DB_MYSQL=rc1d-d2uq7n4fb55876u0.mdb.yandexcloud.net
REDMINE_DB_PORT=3306
REDMINE_DB_USERNAME=user1
REDMINE_DB_PASSWORD=фф3556776
REDMINE_DB_DATABASE=db1
RAILS_ENV=production